.startRecipeBtn {
  background-color: #fda509;
  border: transparent;
  bottom: 0;
  color: white;
  position: fixed;
}

.drinkDetailsPage {
  background-color: #f5f5f6;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainImage {
  max-height: 300px;
}

.drinkDetailsPage > h2 {
  color: darkgray;
  font-size: 17px;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
}

.headDrink { /* nome + nome categoria + auxBtns */
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-right: 3px;
}

.headDrink > h1 {
  color: #302e2e;
  margin-right: 185px;
}

.auxBtns { /* botoes de favoritar e compartilhar (individualmente, naõ o conjunto) */
  background-color: #f5f5f6;
  border: transparent;
}

.ulDrinkDetails {
  align-self: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 1px 1px #c4c4c4;
  color: #302e2e;
  margin-top: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 80%;
}

.drInstructions { /* texto com instruções */
  align-self: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 1px 1px #c4c4c4;
  color: #302e2e;
  font-size: 14px;
  margin-top: 3px;
  padding: 10px;
  text-align: justify;
  width: 85%;
}

/* carousel */
.carousel {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.carousel > button {
  max-height: 150px;
  min-width: 200px;
}
