header {
  align-items: center;
  background-color: #fda509;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.header {
  background-color: #fda509;
  display: flex;
  flex-direction: column;
}

.profileIcon {
  background-color: #fda509;
  border: #fda509;
  border-radius: 50%;
  padding: 20px;
}

.searchIcon {
  background-color: #fda509;
  border: #fda509;
  border-radius: 50%;
  padding: 20px;
}

