.section {
  background-color: white;
  color: #fda509;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.section button {
  background-color: white;
  border: solid 2px #fda509;
  border-radius: 20px;
  color: #fda509;
  flex-basis: 50px;
  font-size: 20px;
  margin-left: 10px;
  padding: 30px;
  width: 95%;
}
