.section {
  align-items: center;
  background-color: white;
  color: #fda509;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.section button {
  background-color: white;
  border: solid 2px #fda509;
  border-radius: 20px;
  flex-basis: 50px;
  font-size: x-large;
  font-weight: 700;
  padding: 30px;
  width: 95%;
}
