.search {
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 1px 1px #c4c4c4;
  color: #302e2e;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 60px;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 80%;
}

.btnSearch {
  background-color: #fda509;
  border: transparent;
  border-radius: 8px;
  color: white;
  height: 20px;
  width: 70px;
}
